*{
    padding: 0;
    margin: 0;
}
.fofin{
background: linear-gradient( 45deg, #d2001a,#7462ff,#f48e21);
animation: color 12s ease-in-out infinite;
height: 100vh;
width: 100%;
background-size: 300% 300%;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.cup{
    height: 500px;
    width: 500px;
    border: 6px solid rgba(0, 0, 0, 0);
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 100% ;
    background-size: 100%;
    animation: fill 2.5s ease-in-out infinite alternate;
    background-image: url(ee584927-2629-4bb6-8431-9fd02c95cd3a.jpg)
}
@keyframes fill{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}